{% include 'base/base.html' %}

<!-- Nav bar -->
{% include 'base/navbar.html' %}

{% block content %} 
<div class="container">
    <div class="graph-todo">TODO: Big graph will go here</div>
</div>

<div class="container base-tiles">
    {% for name in filtered_data %}
    {% if filtered_data[name]["Total I Owe"] != 0 %}
    <div class="base-tiles-box">
        <div class="name">{{ name }}</div>
        <div>Total I Paid: <span>${{ filtered_data[name]["Total I Paid"] }}</span></div>
        <div>Total He/She Paid: <span>${{ filtered_data[name]["Total He/She Paid"] }}</span></div>
        <div>Total I Owe: <span>${{ filtered_data[name]["Total I Owe"] }}</span></div>
    </div>
    {% endif %}
    {% endfor %}

</div>

{% endblock content %}

<!-- Footer -->
{% include 'base/footer.html' %}
